In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from yellowbrick.cluster import KElbowVisualizer
from numpy import math
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

<ipython-input-1-e91b8758e284>:11: DeprecationWarning: `np.math` is a deprecated alias for the standard library `math` module (Deprecated Numpy 1.25). Replace usages of `np.math` with `math`
  from numpy import math

In [3]:
data = pd.read_csv('../data/online_retail_II.csv')
print(" Data imported successfully!!")
data.head(3).style.set_properties(**{"background-color": "#cd5c5c","color": "black", "border-color": "black"})

 Data imported successfully!!

In [6]:
pd.set_option('display.max_columns', None)
def data_overview(df, head = 5):
    print("SHAPE OF DATASET".center(125, '-'))
    print("Row: ".format(df.shape[0]))
    print("Column: ".format(df.shape[1]))
    print("HEAD".center(125,'-'))
    print(df.head(head))
    print("DATA TYPES".center(125,'-'))
    print(df.dtypes.value_counts())
    print("MISSING VALUES".center(125,'-'))
    print(df.isnull().sum()[df.isnull().sum()> 0].sort_values(ascending = False))
    print("DUPLICATE VALUES".center(125,'-')) 
    print(df.duplicated().sum())
    print("STATISTICS OF DATA".center(125,'-'))
    print(df.describe(include="all"))
    print("DATA INFO".center(125,'-'))
    print(df.info())

data_overview(data)

-------------------------------------------------------SHAPE OF DATASET------------------------------------------------------
Row:
Column:
-------------------------------------------------------------HEAD------------------------------------------------------------
  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

           InvoiceDate  Price  Customer ID         Country
0  2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3  2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4  2009-12-01 07:45:00   1.25      13085.0  United Kingdom
----------------------------------------------------------DATA TYPES---------------------------------------------------------
object     5
float64    2
int64      1
dtype: int64
--------------------------------------------------------MISSING VALUES-------------------------------------------------------
Customer ID    243007
Description      4382
dtype: int64
-------------------------------------------------------DUPLICATE VALUES------------------------------------------------------
34335
------------------------------------------------------STATISTICS OF DATA-----------------------------------------------------
        Invoice StockCode                         Description      Quantity  \
count   1067371   1067371                             1062989  1.067371e+06
unique    53628      5305                                5698           NaN
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER           NaN
freq       1350      5829                                5918           NaN
mean        NaN       NaN                                 NaN  9.938898e+00
std         NaN       NaN                                 NaN  1.727058e+02
min         NaN       NaN                                 NaN -8.099500e+04
25%         NaN       NaN                                 NaN  1.000000e+00
50%         NaN       NaN                                 NaN  3.000000e+00
75%         NaN       NaN                                 NaN  1.000000e+01
max         NaN       NaN                                 NaN  8.099500e+04

                InvoiceDate         Price    Customer ID         Country
count               1067371  1.067371e+06  824364.000000         1067371
unique                47635           NaN            NaN              43
top     2010-12-06 16:57:00           NaN            NaN  United Kingdom
freq                   1350           NaN            NaN          981330
mean                    NaN  4.649388e+00   15324.638504             NaN
std                     NaN  1.235531e+02    1697.464450             NaN
min                     NaN -5.359436e+04   12346.000000             NaN
25%                     NaN  1.250000e+00   13975.000000             NaN
50%                     NaN  2.100000e+00   15255.000000             NaN
75%                     NaN  4.150000e+00   16797.000000             NaN
max                     NaN  3.897000e+04   18287.000000             NaN
----------------------------------------------------------DATA INFO----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB
None

#### Point to be noted
* The Dataset has Rows: 1067371 and Columns:8
* The Dataset has 3 types of columns: strings(5), integer(1), float(2)
* The Dataset has Missing values in Customer ID (243007) and Description (4382)
* Invoice starts with the 'c' needs to be cleaned as it is cancelled transaction
* The Dataset has duplicates
* Aslo check for negative value and outliers in Quantity and Price